.centered-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }


  .sortable-table thead.table-header {
    background-color: #f2f2f2; /* Change this to your desired color */
    color: #333;
}

.pagination {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.pagination li {
    list-style-type: none;
    margin: 0 5px;
}

.pagination li a {
    padding: 5px 10px;
    border: 1px solid #007bff;
    color: #007bff;
    cursor: pointer;
}

.pagination .active a {
    background-color: #007bff;
    color: white;
}

.list-font{
    font-family:'Verdana, sans-serif' ;
}

.chart-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
  }
  
  .chart-card {
    min-width: 450px;
  }
  
  .backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

